{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form action="/history" method="post">
            <div class="section">

                <h2>Your Portfolio</h2>
                <table style="width:40%;text-align:center">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Qty</th>
                            <th>Transaction Type</th>
                            <th>Sale Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                <td>{{ row['symbol'] }}</td>
                                <td>{{ row['qty'] }}</td>
                                <td>{{ row['type'] }}</td>
                                <td>{{ row['price'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </form>
{% endblock %}
